:root {
    /* Colors */
    --text-base-dark: black;
    --text-base-light: white;
    --text-sub: #85F2E7;
  
    /* Fonts */
    --font-dm-sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  /* MEDIA QUERYS */
  @media screen and (max-width: 767px) {
  }
  
  @media screen and (min-width: 768px) and (max-width: 1274px) {
  }