.carousel {
    position: relative;
    width: 100%;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    transition: transform 0.5s ease;
    overflow: hidden;
}
.card {
    height: 365px;
    border: 2px solid #f45c5c;
    background-color: #151515;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
    display: block;
}
.card h2 {
    margin: 10px 0;
}
.card p {
    margin: 10px 0;
    color: #8C2B34;
    font-size: 1.2em;
}
.card a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}
.nav-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
    .nav-buttons {
        top: 90%;
        transform: translateY(-90%);
    }
}