:root{
    --cor1: #733729;
    --cor2: #ffffff8d;
    --cor3: #D9A362;
    --cor4: #F2EEB6;
    --cor5: #0D0D0D;
} 

*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 0px;
    margin: 0px;
    
}
h1{
    font-family: cursive;
}
h2{
    font-family: cursive; 
}
header > h1{
    background-color: var(--cor1);
    color: var(--cor3);
    text-align: center;
    padding-top: 25px;
}
header > p{
    background-color: var(--cor1);
    color: var(--cor3);
    font-family: cursive;
    text-align: center;
    min-height: 70px;
    padding-top: 7px;
}
nav{
    background-color: var(--cor1);
    color: var(--cor3);   
    text-align: center; 
    padding: 10px;
}
nav > a{
    background-color: var(--cor1);
    color: var(--cor3);   
    margin: 10px;
    text-decoration: none;
    font-weight: bolder;
}
nav > a:hover{
    color: var(--cor4);
    transition-duration: 0.5s;
}
main{
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}
main img{
    width: 100%;
}
main img#redimencionamento{
    max-width: 450px;
    display: block;
    padding: 8px;
    margin: auto;
}
article > h2{
    background-color: var(--cor3);
    color: var(--cor1);
    padding-left: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.292);
}
article > p{
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
    font-size: 1.1em;
    margin-top: 10px;
}
article strong{
    font-weight: bolder;
}
article a{
    text-decoration: none;
    background-color: var(--cor3);
    padding: 1px;
}
article a:hover{
    text-decoration: underline;
    color: var(--cor4);
    transition: 0.5s;
}
article a::after{
    content: '\00A0\1F517';
}
div.video{
    margin: 3px;
    padding: 5px;
    padding-bottom: 55%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
}
div > p{
    margin-top: 10px;
    max-width: 1000px;
    min-width: 300px;
    line-height: 1.5em;
    text-align: justify;
}
aside > h2{
    background-color: var(--cor3);
    color: var(--cor1);
    padding-left: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.292);
    margin-bottom: 8px;
    margin-bottom: 15px;;
}
aside a{
    text-decoration: none;
    background-color: var(--cor3);
    padding: 2px;
}
aside a:hover{
    text-decoration: underline;
    color: var(--cor4);
    transition: 0.5s;
}
aside > a::after{
    content: '\00A0\1F517';
}
footer{
    background-color: var(--cor1);
    color: var(--cor3);
    text-align: center;
    padding-top: 13px;
    padding-bottom: 7px;
}
footer > a{
    background-color: var(--cor1);
    color: var(--cor2);
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    color: var(--cor4);
    text-decoration: underline;
}
footer > a::after{
    content: '\00A0\1F517';
}

/*Parte do Sobre Nos*/

header img#Coffee{
    background-color: var(--cor1);
    max-width: 220px;
    display: block;
    margin: auto;
}
header{
    background-color: var(--cor1);
}
header#header2 > p{
    font-size: 2em;
    background-color: var(--cor1);
}
header abbr{
    background-color: var(--cor1);
    color: var(--cor3);
    text-decoration: none;
}
main#main2{
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
   
}
main#main2 > h1{
    margin: 20px;
}
main#main2 > p{
    text-align: justify;
    line-height: 1.7em;
    font-size: 1.5em;
    padding: 10px;
}
main#main2 a{
    text-decoration: none;
    background-color: var(--cor3);
    padding: 1px;
}
main#main2 a:hover{
    text-decoration: underline;
    color: var(--cor4);
    transition: 0.5s;
}
main#main2 a::after{
    content: '\00A0\1F517';
}
footer#footer2{
    background-color: var(--cor1);
    color: var(--cor3);
    text-align: center;
    padding-top: 13px;
    padding-bottom: 15px;
}
footer > a{
    background-color: var(--cor1);
    color: var(--cor2);
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    color: var(--cor4);
    text-decoration: underline;
}
footer > a::after{
    content: '\00A0\1F517';
}

/*Parte de Serviços*/
header{
    background-color: var(--cor1);
}
header#header2 > p{
    font-size: 2em;
    background-color: var(--cor1);
    padding: 0px;
}
header#header2 > p#after::after{
    content: '\00A0\2615';
}
header abbr{
    background-color: var(--cor1);
    color: var(--cor3);
    text-decoration: none;
}
.content{
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.title-wrapper-catalog{
    margin-top: 140px;  
    padding-bottom: 30px; 
}
section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
    margin-bottom: 20px;
}
  section .card-item {
    height: 600px;
    background: var(--cor3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card-content {
    background-color: var(--cor3);
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card-item img {
    width: 80%;
    background-color: var(--cor3);
}
.card-item h4 {
    width: 100%;
}
.card-item h2{
    background-color: var(--cor3);
    text-align: center;
    margin-bottom: 10px;
}
.card-item h3{
    background-color: var(--cor3);
    text-align: center;
    margin-bottom: 20px;
}
.card-item p{
    background-color: var(--cor3);
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
}
.card-item button {
    width: 80%;
    padding: 15px 0px;
    border: none;
    background: var(--cor1);
    border-radius: 4px;
    color:var(--cor3);
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
   
}
.card-item button:hover {
    background: var(--cor2);
    color: var(--cor1);
}